* {
}
.tab {
  float: left;

  padding: 10px 15px;
  height: 30px;

  position: relative;

  background: rgb(245, 245, 245);

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab:before,
.tab:after {
  content: "";
  position: absolute;

  height: 10px;
  width: 20px;

  bottom: 0;
}

.tab:after {
  right: -20px;

  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;

  -webkit-box-shadow: -10px 0 0 0 rgb(245, 245, 245);
  box-shadow: -10px 0 0 0 rgb(245, 245, 245);
}

.tab:before {
  left: -20px;

  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;

  -webkit-box-shadow: 10px 0 0 0 rgb(245, 245, 245);
  box-shadow: 10px 0 0 0 rgb(245, 245, 245);
}
